h1 {
  text-align: center;
  color: #538ebe;
}

p {
  text-align: center;
}

#menu-head {
  text-align: center;
}

h4 {
  text-decoration: underline;
  padding-bottom: 2px;
  color: #538ebe;
}

.hidden {
  display: none;
}

ul {
  font-style: italic;
}

body {
  background-color: #212222;
  color: #b0cada;
}