body {
  background-color: #f5f5f5;
  color: #1f6491;
}

h1 {
  text-align: center;
  color: #1f6491;
  margin: auto;
  font-family: sans-serif;
  margin-top: 30px;
}

p {
  text-align: center;
  font-family: sans-serif;
}

#menu-head {
  text-align: center;
}

h4 {
  text-decoration: underline;
  padding-bottom: 2px;
  color: #1f6491;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

ul {
  font-style: italic;
  font-family: sans-serif;
}

button {
  background-color: #1f6491 !important;
  border-color: #1f6491 !important;
}

button:hover {
  background-color: #154666 !important;
  border-color: #154666 !important;
}

